* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: white;
  color: black;
  font-size: 10px;
  text-align: center;
}

h1 {
  font-size: 30px;
  height: 150px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 20px;
}
p {
  font-size: 15px;
}

header {
  height: 100px;
  background: blue;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.team {
  background: gray;
  color: white;
  line-height: 39px;
  font-size: 20px;
}
.team li {
  display: flex;
  flex-direction: column;
}
.team li:hover {
  color: blue;
}
.position {
  display: flex;
  justify-content: center;
  align-items: center;
}

.matches {
}
